[Unit]
Description=Generate NetworkManager connection profile from kioskbrowser.ini
Before=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/kiosk-wifi

[Install]
WantedBy=multi-user.target