[Unit]
Description=Configure WiFi from kioskbrowser.ini
Requires=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/kiosk-wifi

[Install]
WantedBy=multi-user.target