name: CI

on:
  push:
    tags:
      - '*'  # Triggers on any tag push

permissions:
  contents: write

jobs:
  raspberrypi:
    runs-on: [self-hosted]

    outputs:
      pkgfile: ${{ steps.pkgname.outputs.pkgfile }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt update -qq
          sudo apt install -yqq libguestfs-tools qemu-utils qemu-system-arm qemu-efi-aarch64 qemu-block-extra qemu-user-static binfmt-support rsync sudo wget xz-utils pigz mount dosfstools libarchive-tools
          
      - name: Build firmware
        run: |
          sudo ./build.sh

      - name: Release build artifacts
        uses: softprops/action-gh-release@v1
        with:
          append_body: true
          body_path: ./version-info
          files: |
            ./n-anotterkiosk-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
